body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 200px;
}

.popup-container {
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

h1 {
  font-size: 18px;
}

label {
  display: block;
  margin: 10px 0;
}

input[type="text"] {
  width: calc(100% - 22px);
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  background-color: #009de6;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0095e6;
}
